body {
  background: url(https://unsplash.com/photos/95YRwf6CNw8/download?force=true);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  text-align: center;
  width: 40%;
  margin: auto;
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 10%;
  padding: 10px;
}
.nav-w {
  display: flex;
  padding: 28px;
  justify-content: space-between;
}
.left-side {
  display: flex;
}
.nav-w > .left-side > div {
  margin-right: 30px;
  font: size 0.9em;
  text-transform: uppercase;

}
div {
  font-size: 20px;
}

.nav-link{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
.nav-link a {
   color: gray;
   text-decoration: none;
   transition: color 0.5s;
}
.nav-link:hover{
    border-bottom: 1px solid black;
}
.nav-link a:hover{
    color: black;
}
body{
    margin: 0px;
}

hr{
width: 80%;
}

.fb{
    padding: 0.5rem 2rem;
    color: black;
    background-color:rgb(134, 134, 248);
    border: none;
    border-radius: 5px;
    
}

a{
    text-decoration: none;
}
.but{
    color:black;
    background-color:grey;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    padding: 10px;
}
.container input{
    padding:0.5rem ;
    width:60%;
}
.container input[type=checkbox]{
    width: auto;
}
.fb:hover{
transition: 150ms;
transform: scale(1.1);
}
.but:hover{
transition: 150ms;
transform: scale(1.1);
}
.tb:hover{
    bac
}